<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Médico</h4>
                <h6 class="card-subtitle">Información del Médico</h6>
                <form class="form p-t-20" [formGroup]="medicoForm" (submit)="guardarMedico()">
                    <div class="form-group" *ngIf="medicoSeleccionado">
                        <label>Foto</label>
                        <div class="text-center">
                            <img [src]="medicoSeleccionado.img | imagen:'medicos'" class="img-avatar">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Nombre</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input type="text" class="form-control" placeholder="Nombre del Médico"
                                formControlName="nombre">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Hospital</label>
                        <select class="form-control" formControlName="hospital">
                            <option value="">Seleccione Hospital</option>
                            <option *ngFor="let hospital of hospitales" [value]="hospital.id">{{hospital.nombre}}
                            </option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-success waves-effect waves-light m-r-10"
                        [disabled]="medicoForm.invalid">Guardar</button>
                    <a type="submit" class="btn btn-inverse waves-effect waves-light"
                        [routerLink]="['/dashboard/medicos']">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6 animated fadeIn fast" *ngIf="hospitalSeleccionado">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Hospital Seleccionado</h4>
                <h6 class="card-subtitle">{{hospitalSeleccionado.nombre}}</h6>
                <div class="text-center">
                    <img [src]="hospitalSeleccionado.img | imagen:'hospitales'" class="img-avatar">
                </div>
            </div>
        </div>
    </div>
</div>